name: Push Helm Charts on Change

on:
  push:
    branches: [main]
    paths:
      - 'ecr-regcred/**'
      - 'reliza-cd/**'
      - 'reliza-watcher/**'
      - 'reliza-common/**'
      - 'reliza-postgresql/**'
      - 'sealed-secrets/**'
      - 'verdaccio/**'
      - '.github/workflows/helmbuild.yml'
      - 'harbor-automated/harbor-helm/**'

jobs:
  build-ecr-regcred:
    permissions:
      contents: write
    name: Build ECR REGCRED
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Release metadata action
        uses: relizaio/reliza-helm-action@da0686fdfb9db1769693a64c5a0a68e5f54cbcab # v3.10
        with:
          registry_username: ${{ secrets.RH_LIBRARY_HELM_LOGIN }}
          registry_password: ${{ secrets.RH_LIBRARY_HELM_PASS }}
          registry_host: ${{ secrets.HELM_OCI_REPO }}
          helm_chart_name: ecr-regcred
          reliza_api_id: ${{ secrets.RELIZA_ECR_REGCRED_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_ECR_REGCRED_API_KEY }}
          path: ecr-regcred
          
  build-reliza-cd:
    permissions:
      contents: write
    name: Build RELIZA CD
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Release metadata action
        uses: relizaio/reliza-helm-action@da0686fdfb9db1769693a64c5a0a68e5f54cbcab # v3.10
        with:
          registry_username: ${{ secrets.RH_LIBRARY_HELM_LOGIN }}
          registry_password: ${{ secrets.RH_LIBRARY_HELM_PASS }}
          registry_host: ${{ secrets.HELM_OCI_REPO }}
          helm_chart_name: reliza-cd
          reliza_api_id: ${{ secrets.RELIZA_CD_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_CD_API_KEY }}
          path: reliza-cd

  build-reliza-watcher:
    permissions:
      contents: write
    name: Build RELIZA WATCHER
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Release metadata action
        uses: relizaio/reliza-helm-action@da0686fdfb9db1769693a64c5a0a68e5f54cbcab # v3.10
        with:
          registry_username: ${{ secrets.RH_LIBRARY_HELM_LOGIN }}
          registry_password: ${{ secrets.RH_LIBRARY_HELM_PASS }}
          registry_host: ${{ secrets.HELM_OCI_REPO }}
          helm_chart_name: reliza-watcher
          reliza_api_id: ${{ secrets.RELIZA_WATCHER_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_WATCHER_API_KEY }}
          path: reliza-watcher


  build-common-helm:
    permissions:
      contents: write
    name: Build And Push Common Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Common Helm metadata action
        uses: relizaio/reliza-helm-action@da0686fdfb9db1769693a64c5a0a68e5f54cbcab # v3.10
        with:
          registry_username: ${{ secrets.RH_LIBRARY_HELM_LOGIN }}
          registry_password: ${{ secrets.RH_LIBRARY_HELM_PASS }}
          registry_host: registry.relizahub.com/library
          helm_chart_name: reliza-common
          reliza_api_id: ${{ secrets.RELIZA_COMMON_HELM_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_COMMON_HELM_API_KEY }}
          path: reliza-common

  build-postgresql-helm:
    permissions:
      contents: write
    name: Build And Push Reliza Postgresql Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Reliza Postgresql Helm metadata action
        uses: relizaio/reliza-helm-action@da0686fdfb9db1769693a64c5a0a68e5f54cbcab # v3.10
        with:
          registry_username: ${{ secrets.RH_LIBRARY_HELM_LOGIN }}
          registry_password: ${{ secrets.RH_LIBRARY_HELM_PASS }}
          registry_host: registry.relizahub.com/library
          helm_chart_name: postgresql
          reliza_api_id: ${{ secrets.RELIZA_POSTGRESQL_HELM_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_POSTGRESQL_HELM_API_KEY }}
          path: reliza-postgresql

  build-sealed-secrets:
    permissions:
      contents: write
    name: Build And Push Sealed Secrets Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Sealed Secrets Helm metadata action
        uses: relizaio/reliza-helm-action@da0686fdfb9db1769693a64c5a0a68e5f54cbcab # v3.10
        with:
          registry_username: ${{ secrets.RH_LIBRARY_HELM_LOGIN }}
          registry_password: ${{ secrets.RH_LIBRARY_HELM_PASS }}
          registry_host: registry.relizahub.com/library
          helm_chart_name: sealed-secrets
          reliza_api_id: ${{ secrets.SEALED_SECRETS_HELM_API_ID }}
          reliza_api_key: ${{ secrets.SEALED_SECRETS_HELM_API_KEY }}
          path: sealed-secrets

  build-verdaccio:
    permissions:
      contents: write
    name: Build And Push Verdaccio Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Verdaccio Helm metadata action
        uses: relizaio/reliza-helm-action@da0686fdfb9db1769693a64c5a0a68e5f54cbcab # v3.10
        with:
          registry_username: ${{ secrets.RH_LIBRARY_HELM_LOGIN }}
          registry_password: ${{ secrets.RH_LIBRARY_HELM_PASS }}
          registry_host: registry.relizahub.com/library
          helm_chart_name: verdaccio
          reliza_api_id: ${{ secrets.RELIZA_VERDACCIO_HELM_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_VERDACCIO_HELM_API_KEY }}
          path: verdaccio

  build-harbor-automated:
    permissions:
      contents: write
    name: Build And Push Harbor Automated Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Harbor Helm metadata action
        uses: relizaio/reliza-helm-action@da0686fdfb9db1769693a64c5a0a68e5f54cbcab # v3.10
        with:
          registry_username: ${{ secrets.RH_LIBRARY_HELM_LOGIN }}
          registry_password: ${{ secrets.RH_LIBRARY_HELM_PASS }}
          registry_host: registry.relizahub.com/library
          helm_chart_name: harbor-helm
          reliza_api_id: ${{ secrets.RELIZA_HARBOR_HELM_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_HARBOR_HELM_API_KEY }}
          path: harbor-automated